<head>
<title>Blagg Law ~ Chicago</title>
<!--- Text changing script --->
<script type="text/javascript" src="info.js"></script>


</head>

<body bgcolor="#666666">
<div id="lab">
<h2> Choose Your Race </h2>
</div>
<div id="guide">
</div>
<div id="info">
    <h3><b id="boldStuff">Select your class.</Br> </br> Your class will affect your atributes through out the character creations process, so be sure to choose carefully. </br></br>Click on the different races to learn more about each!</b> </h3>    
    
    </div>    
<div id="page">
<input type="image" src="/assets/race/player.png" class="socialicon" alt="Social Icon" onclick='halfling()' />
<input type="image"src="/assets/race/player.png" class="socialicon" alt="Social Icon" onclick='dwarf()' value='Change Text'/>
<input type="image" src="/assets/race/player.png" class="socialicon" alt="Social Icon"/>
    </br>
<input type="image"src="/assets/race/player.png" class="socialicon" alt="Social Icon"/>
<input type="image" src="/assets/race/player.png" class="socialicon" alt="Social Icon"/>
<input type="image" src="/assets/race/player.png" class="socialicon" alt="Social Icon"/>
</div>                  

<div id="button">

<a href=class.html>
<img border="0" src="/assets/race/next.png" class ="tav", style="width:150px;height:75px;">
</a>

</div>
</body>